<head><link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"></head>
<div id = "header">
    <h1>VOTE MASTER</h1>
    <h2>A SIMPLE VOTECASTING PLATFORM<h2>
</div>
<div id = "navbar">
    <%= link_to 'CREATE NEW POLL', new_poll_url %>
    <a href="">VIEW YOUR RESULTS</a>
</div>
<div id = "description">
    <p id=paragraph>
        GONE ARE THE DAYS OF CONVULUTED POLLING WEBSITES. USING OUR PLATFORM 
        YOU CAN CREATE SIMPLE, FAST AND EFFICIENT POLLS FOR YOUR NEEDS.
    </p>
</div>
<div id="footer">
    <p>
        TEAM 12
    </p>
</div>