// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//POLL ENTRY AND EDIT CSS BELOW

#pollcontainer p{
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 5px;
    
}

input#pollquestion{
    background-color: #f79e7e;
    color: #bc3b31;
}

input#pollquestion::placeholder{
    color: #e46d60;
}

input[type=text]{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    border: none;
    background-color: #fff8d5;
    color: #d1892a;
    font-size: 24px;
    font-weight: 400;
}

input[type=text]::placeholder{
    color: #feca7d;
}

input[type=button], input[type=submit]{
    border: none;
    background-color: #8f1840;
    color: #f05939;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

//POLL INDEX CSS BELOW

#pollindex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}

.singlepoll {
    display: flex;
    flex-direction: row;
    font-size: 24pt;
    font-weight: 300;
    color: #c71f3b;
}

.singlepoll p{
    padding-right: 15px;
    padding-left: 15px;
}

.singlepoll a{
    color: #fec30d;
}


